:root{
    --main-color: #545D7E;
    --sub-color: #313649;
    --purple-gray: #2C2E3A;
    --black: #1A171A;
    --offshade-main: #505169;
    --white: #E5E7EB;
    --error: #D91717;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Arial Rounded MT Bold", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: var(--purple-gray);
    color: var(--white);
}

#container{
    display: flex;
    align-items: center;
    /*height: 100vh;*/
}

#logo{
    font-family: "Unbounded", sans-serif;
    font-size: 4em;
    color: var(--white);
    background: rgb(0,0,0, 0.30);
    width: 100%;
    text-align: center;
    padding: 10px;
    position: relative;
    top: 20vw;
}

#left{
    background-image: url("images/massimiliano-morosinotto-xTfFmsXxEfA-unsplash.jpg");
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /*padding-top: 40%;*/
    /*object-fit: contain;*/
    background-size: cover;
    /*background-repeat: no-repeat;*/
}

.credits{
    font-family: Arial, sans-serif;
    font-size: 0.6em;
    position: relative;
    bottom: -85vh;
    color: #fff;
    text-align: right;
    text-transform: uppercase;
    padding-right: 4px;
    opacity: 0.50;
}
.credits a:link, .credits a:visited{
    text-decoration: none;
    color: #fff;
}

#left img{
    width: 3000px;
}

#right{
}

.description{
    /*outline: red solid 1px;*/
    font-size: 1.3em;
    padding-left: 3vw;
}

.sign-up{
    background: var(--sub-color);
    box-shadow: 0 9px 5px -2px var(--offshade-main);
    margin-bottom: 25px;
    padding: 15px 0;
}

#form{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-left: 2vw;
}
.form-row{
    display: flex;
    flex-flow: column wrap;
    padding: 10px 20px;
    width: 35%;
}

.form-row label{
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
}

.form-row input[type=text],
.form-row input[type=email],
.form-row input[type=tel],
.form-row input[type=password]{
    border: 1px solid #E5E7EB;
    padding: 7px;
    border-radius: 5px;
}

.form-row input[type=text]:focus,
.form-row input[type=email]:focus,
.form-row input[type=tel]:focus,
.form-row input[type=password]:focus{
    box-shadow: 1px 3px 6px 1px #737373;
    border: 1px solid #E5E7EB;

}

#create{
    background-color: var(--black);
    color: #fff;
    padding: 10px 30px;
    border-radius: 8px;
    border: 1px solid var(--white);
}

.account {
    padding-left: 2vw;
}

div[id$="err"]{
    color: var(--error);
    font-size: 0.9em;
}