body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Arial Rounded MT Bold", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #F9FAFB;
}

#container{
    display: flex;
    align-items: center;
    height: 100vh;
}

#logo{
    font-family: "Unbounded", sans-serif;
    font-size: 4em;
    color: #E5E7EB;
    background: rgb(0,0,0, 0.30);
    width: 100%;
    text-align: center;
    padding: 10px;
}

#left{
    background-image: url("images/background.jpg");
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding-top: 40%;
    /*object-fit: contain;*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
}

.credits, .credits a:link, .credits a:visited{
    color: #fff;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 0.8em;
}

#left img{
    width: 3000px;
}

#right{
}

.description{
    font-size: 1.3em;
    padding-left: 3vw;
}

.sign-up{
    background: #fff;
    box-shadow: 0 9px 2px #f5f5f5;
    margin-bottom: 25px;
}

.form{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-left: 2vw;
}
.form-row{
    display: flex;
    flex-flow: column wrap;
    padding: 10px 20px;
    width: 35%;
}

.form-row label{
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
}

.form-row input[type=text],
.form-row input[type=email],
.form-row input[type=tel],
.form-row input[type=password]{
    border: 1px solid #E5E7EB;
    padding: 7px;
    border-radius: 5px;
}

.form-row input[type=text]:focus,
.form-row input[type=email]:focus,
.form-row input[type=tel]:focus,
.form-row input[type=password]:focus{
    box-shadow: 1px 3px 6px 1px #737373;
    border: 1px solid #E5E7EB;

}

#create{
    background-color: #596D48;
    color: #fff;
    padding: 10px 30px;
    border-radius: 8px;
}

.account {
    padding-left: 2vw;
}